body{
    background-color: antiquewhite;
}
h1{
    color: rgb(50, 20,90);
    font-style:oblique;
    font-size: 30px;
    padding: 50px;
    text-align: center;
}
.container1 {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto;
    column-gap: 50px;
}

p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: rgb(200,35,168);
    margin-left: 100px;
    margin-right: 220px;
    margin-top: 100px;
    background-color: #f1f1f1;
    padding: 10px;
    image-resolution: 320;
}
.container2 {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    column-gap: 50px;
}
.text{
    font-size: 40px;
}
table,th,td{
    width: 50px;
    margin: auto;
    font-size: large;
    padding: 10px;
    text-align: center;
    border: 1px solid;
    border-color: bisque;
    background-color: calc(200);
}
.grid-container{
    display: grid;
    row-gap: 50px;
    column-gap: 50px;
    grid-template-columns: auto auto auto;
    background: color #2196f3;
    padding: 10px;
}
.grid-item{
    background-color: rgba( 255,220,255,0.8);
    border: 10px solid rgba(0,0,0,0.5);
    padding: 20px;
    font-size: 25px;
    text-align: center;
}
.flex-container{
    display: flex;
    flex-direction: column;
    background-color: dodgerblue;
    justify-content: center;
}
.flex-container > div{
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    justify-self: 1;
}